---
layout: layout.html
title: Isank's Blog
pagination:
  data: collections.posts
  size: 4
  alias: posts
  reverse: true
---

{% for post in posts %}

<article class="mb-10 text-justify">
  <header class="mb-5">
    <h1 class="font-bold text-gray-900 text-3xl">
      <a class="hover:underline" href="{{post.url}}">{{post.data.title}}</a>
    </h1>
    <span class="font-light text-sm text-gray-600">
      {{post.date | date: "%b %d, %Y"}}
    </span>
  </header>
  <p class="font-light text-gray-800">
    {{post.data.description}}
  </p>
</article>

{% endfor %}

<div class="flex justify-between font-bold text-3xl">
  {% if pagination.href.previous %}

  <div>
    <a
      href="{{pagination.href.previous}}"
      class="text-gray-900 hover:text-gray-800"
    >
      <span>← PREV</span>
    </a>
  </div>

  {% endif %} {% if pagination.href.next %}

  <div>
    <a
      href="{{pagination.href.next}}"
      class="text-gray-900 hover:text-gray-800"
    >
      <span>NEXT →</span>
    </a>
  </div>

  {% endif %}
</div>
