<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="lg:flex md:flex-none">
      <div
        class="flex-1 lg:max-w-xs lg:h-screen p-3 sm:p-3 md:p-6 lg:p-12 bg-orange-200"
      >
        <div class="">
          <img
            class="rounded-full mx-1 h-16 w-16"
            src="{{author.picture}}"
            alt=""
          />
        </div>
        <div>
          <h1 class="font-medium text-xl mt-6 mx-1">
            {{ author.name }}
          </h1>
          <p class="font-light mt-1 mx-1">{{ author.bio }}</p>
        </div>
        <div>
          <nav class="font-medium mt-6 mx-1">
            <ul>
              <li class="hover:underline">
                <a href="/">Posts</a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <ul class="flex mt-6 mx-1">
            {% for account in author.socialAccounts %}
            <li class="list-none mr-2">
              <a class="inline-block h-8 w-8" href="{{account.link}}">
                <svg
                  class="fill-current text-gray-900"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  {{ account.svg }}
                </svg>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="flex-1 lg:h-screen p-3 sm:p-3 md:p-6 lg:p-12 overflow-y-auto">
        {{ content }}
      </div>
    </div>
  </body>
</html>
